# Sistema
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/*
!.vscode/extensions.json

# Android / Gradle
.gradle/
build/
app/build/
local.properties
*.apk
*.aab
*.ap_
*.dex

# Kotlin / Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Arquivos temporarios
tmp/
temp/
*.tmp

# Arduino
*.hex
*.elf

# Backups
*.bak
*.old

# Android Studio / IntelliJ
.idea/
**/.idea/
*.iml

# Android local SDK config
local.properties
**/local.properties

# Android build outputs
**/build/
**/.gradle/
